{% extends "base.html" %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% block title %}Ajout tâche{% endblock %}
    {% block main_title %}Création d'une tâche{% endblock %}
    {% block content %}
        <form action="{% url 'add-task' %}" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit">Sauvegarder</button>
        </form>
    {% endblock %}