<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block navbar %}
    <nav id="navbar">
        <ul class="menu">
            <li>
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                    <p>Utilisateurs</p>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'add-user' %}">
                            <i class="fa-solid fa-plus"></i>
                            <p>Ajouter un utilisateur</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'users-list' %}">
                            <i class="fa-solid fa-list"></i>
                            <p>Afficher les utilisateurs</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="icon">
                    <i class="fa-solid fa-scroll"></i>
                    <p>Tâches</p>
                </div>
                <ul class="submenu">
                    <li>
                        <a href="{% url 'add-task' %}">
                            <i class="fa-solid fa-plus"></i>
                            <p>Ajouter une tâche</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tasks-list' %}">
                            <i class="fa-solid fa-list"></i>
                            <p>Afficher les tâches</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    {% endblock %}
    <title>
    {% block title %}
    {% endblock %}
    </title>
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    <h1 class="title">{% block main_title %}Menu principal{% endblock %}</h1>
    {% block content %}
    {% endblock %}
    {% block js %}
    <!-- <script src="{% static 'node_modules/jquery-slim/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script> -->
    {% endblock %}
    <!-- <img src="https://via.placeholder.com/3000" alt="placeholder"> -->
</body>
</html>