{% extends "base.html" %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% block title %}Modif tâche{% endblock %}
    {% block main_title %}Modification d'une tâche{% endblock %}
    {% block content %}
        <form action="edit" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit">Sauvegarder</button>
        </form>
    {% endblock %}