{% extends "base.html" %}
    {% load static %}
    {% block main_title %}Détails de la tâche{% endblock %}
    {% block content %}
    <div class="task-detail">
        <p id="task-label">Nom :</p>
        <p id="task">{{ task.name }}</p>
        <!-- <a href="../../users-list/detail/{{ task.user.pk }}"></a> -->
        <p id="owner-label">Propriétaire :</p>
        {% if owner %}
            <p id="owner">{{ task.owner }}</p>
        {% else %}
            <p id="owner" class="none">Aucun</p>
        {% endif %}
        <p id="creation_date-label">Date de création</p>
        <p id="creation_date">{{ task.creation_date }}</p>
        <p id="due_date-label">Date d'échéance :</Datag></p>
        <p id="due_date">{{ task.due_date }}</p>
        <p id="description-label">Description :</p>
        <p id="description">{{ task.description }}</p>
        <a id="edit" href="{{ task.pk }}/edit">
            <i class="fa-solid fa-file-pen"></i>
        </a>
        <a id="delete" href="{{ task.pk }}/delete">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
    {% endblock %}