{% extends "base.html" %}
{% load static %}
    {% block title %}Les tâches{% endblock %}
    {% block styles %}
        {{ block.super }}
    {% endblock %}
    {% block main_title %}Affichage des tâches{% endblock %}
    {% block content %}
        {% if tasks %}
        <div id="tasks-list">
            <div class="row">
                <div class="label">Nom</div>
                <div class="label">Propriétaire</div>
                <div class="label">Création</div>
                <div class="label">Échéance</div>
                <div class="label">Statut</div>
            </div>
            {% for task in tasks %}
            <a class="row" href="tasks-list/detail/{{ task.pk }}">
                <div class="col">{{ task.name }}</div>
                {% if task.owner %}
                    <div class="col">{{ task.owner }}</div>
                {% else %}
                    <div class="col none">Aucun</div>
                {% endif %}
                <div class="col">{{ task.formated_creation_date }}</div>
                <div class="col">{{ task.colored_due_date }}</div>
                <div class="col">
                    {% if task.closed %}
                    <i id="locked" class="fas fa-lock"></i>
                    {% else %}
                    <i id="opened" class="fas fa-lock-open"></i>
                    {% endif%}
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
            <div class="info">
                <p>Aucune tâche trouvée</p>
                <a href="{% url 'add-task'%}">Créer une tâche</a>
            </div>
        {% endif %}
    {% endblock %}