{% extends "base.html" %}
    {% load static %}
    {% block main_title %}Détails de l'utilisateur{% endblock %}

    {% block content %}
    <div class="user-detail">
        <p id="username-label">Nom d'utilisateur :</p>
        <p id="username">{{ user.username }}</p>
        <p id="email-label">Adresse mail :</p>
        <p id="email">{{ user.email }}</p>
        <p id="tasks-label">Tâches :</p>
        {% if tasks %}
            <div id="tasks">
            {% for task in tasks %}
                <!-- <a href="../../tasks-list/detail/{{ task.pk }}"></a> -->
                <p>{{ task.name }}</p>
            {% endfor %}
            </div>
        {% else %}
            <p id="tasks" class="none">Aucune tâche</p>
        {% endif %}
        <a id="edit" href="{{ user.pk }}/edit">
            <i class="fa-solid fa-user-pen"></i>
        </a>
        <a id="delete" href="{{ user.pk }}/delete">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
    {% endblock %}