{% extends "base.html" %}
{% load static %}
    {% block title %}Les utilisateurs{% endblock %}
    {% block main_title %}Affichage des utilisateurs{% endblock %}
    {% block content %}
        {% if users %}
            <div class="users-list">
                {% for user in users %}
                    <a class="user-icon" href="users-list/detail/{{ user.pk }}">
                        <i class="fa-solid fa-user"></i>
                        <p>{{ user.username }}</p>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="info">
                <p>Aucun utilisateur trouvé</p>
                <a href="{% url 'add-user' %}">Créer un utilisateur</a>
            </div>
        {% endif %}
    {% endblock %}