/* Variables et modifications générales */
:root{
    --font-color-light: wheat;
    --font-color-dark: black;
    --hover-color: darkcyan;
    --nav-background-color: black;
    --nav-background-color-hover: rgb(37, 35, 35);
    --nav-font-size: larger;
    --elem-background-color-light: var(--font-color-light);
    --global-font-size: 2vw;
    --nav-height: 10vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding-top: var(--nav-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Titre principal */
.title{
    padding: 1% 0 1% 0;
    color: var(--font-color-dark);
    text-align: center;
    margin-bottom: 3%;
}

#page-content{
    height: 100%;
}
/*-----------------------------------------------------------------*/
/* Navbar et menus déroulants */
#navbar{
    top: 0;
    position: fixed;
    width: 100%;
    margin-bottom: calc(var(--nav-height));
}

.menu{
    display: flex;
    text-align: center;
    height: var(--nav-height);
    justify-content: space-evenly;
}

.menu > li{
    list-style-type: none;
    background-color: var(--nav-background-color);
    position: relative;
    height: 100%;
    flex: 1;
}

.menu > li:hover > .submenu{
    animation: submenu 3s forwards;
    z-index: 1;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color-light);
    font-size: var(--nav-font-size);
}

.icon > i{
    font-size: 1.8em;
    margin-bottom: 5%;
}

li a{
    text-decoration: none;
    color: var(--font-color-light);
}

.submenu{
    margin-top: var(--nav-height);
    width: 100%;
    text-align: left;
    background-color: var(--nav-background-color);
    overflow: hidden;
    max-height: 0;
    z-index: 1;
}

.submenu > li{
    list-style-type: none;
}

.submenu > li > a{
    width: 100%;
    padding: 0.2em;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--nav-background-color);
}

.submenu > li > a > p{
    flex-basis: 75%;
    text-transform: uppercase;
}

.submenu > li > a > i{
    margin-left: 2%;
}

.menu > li:hover{
    background-color: var(--nav-background-color-hover);
    transition: 0.5s;
}

.menu > li:hover > *{
    color: var(--hover-color);
}

.submenu > li:hover > a{
    color: white;
    background-color: var(--hover-color);
}

@keyframes submenu{
    100% {
        max-height: 50em;
    }
}
/*-----------------------------------------------------------------*/
form{
    padding: 1% 5%;
    margin: auto;
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--elem-background-color-light);
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
}

form > *:not(button){
    margin-bottom: 2%;
}

form > button{
    background-color: var(--nav-background-color);
    color: white;
    transition: 0.3s;
    padding: 2%;
    border: none;
    margin-top: 2%;
    transition: 0.3s;
}

form > button:hover{
    background-color: var(--hover-color);
    color: white;
    transition: 0.3s;
}
/*-----------------------------------------------------------------*/
/* Message et lien affiché si liste vide*/
.info{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > a{
    background-color: var(--hover-color);
    text-decoration: none;
    border-radius: 1em;
    color: white;
    padding: 3%;
    margin: 5%;
}

.info > a:hover{
    opacity: 50%;
}
/*-----------------------------------------------------------------*/
/* Liste d'utilisateurs */
.users-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-icon{
    padding: 1%;
    border-radius: 2%;
    border: 1px solid var(--hover-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    flex-basis: 18%;
    max-width: 18%;
    color: var(--font-color-dark);
    margin: 2% auto;
    transition: 1.3s;
}

.user-icon:hover{
    transform: translate(0, -25%);
    transition: 1.3s;
}

.user-icon > i{
    font-size: calc(var(--global-font-size) * 2.5 );
    border-radius: 25%;
    background-color: var(--hover-color);
    padding: 5%;
    margin-bottom: 2%;
}

.user-icon > p{
    font-size: var(--global-font-size);
    max-width: 100%;
    overflow: hidden;
}
/*-----------------------------------------------------------------*/
/* Détail d'un utilisateur et d'une tâche */
.user-detail, .task-detail{
    padding: 0 2%;
    display: grid;
    width: 60%;
    height: 60vh;
    grid-template-columns: 35% 49% repeat(2, 5%);
    background-color: var(--elem-background-color-light);
    grid-gap: 0 2%;
    border-radius: 20px;
}

.task-detail{
    grid-template-rows: repeat(5, 10%) 1fr;
    padding: 2% 2%;
}

.user-detail p, .task-detail p{
    font-size: calc(var(--global-font-size) * 0.9);
    overflow: auto;
}

#edit{
    color: green;
    place-self: center;
    grid-column: 3 / 4;
    grid-row: 1;
}

#edit:hover{
    color: darkgreen;
    transform: scale(1.3);
}

#delete{
    color: red;
    place-self: center;
    grid-column: 4 / 4;
    grid-row: 1;
}

#edit > i, #delete > i{
    font-size: calc(var(--global-font-size) * 1.5);
}

#delete:hover{
    color: darkred;
    transform: scale(1.3);
}

#username-label, #task-label{
    grid-column: 1 / 2;
    grid-row: 2;
    font-weight: bold;
}

#username, #task{
    grid-column: 2 / 3;
    grid-row: 2;
}

#email-label, #owner-label{
    grid-column: 1 / 2;
    grid-row: 3;
    font-weight: bold;
}

#email, #owner{
    grid-column: 2 / 3;
    grid-row: 3;
}

#tasks-label, #creation_date-label{
    grid-column: 1 / 2;
    grid-row: 4;
    font-weight: bold;
}

#tasks{
    grid-column: 2 / 3;
    grid-row: 4;
    max-height: 70%;
    overflow: auto;
}

#creation_date{
    grid-column: 2 / 3;
    grid-row: 4; 
}

#due_date-label{
    grid-column: 1 / 2;
    grid-row: 5;
    font-weight: bold;
}

#due_date{
    grid-column: 2 / 3;
    grid-row: 5;
}

#description-label{
    grid-column: 1 / 2;
    grid-row: 6;
    font-weight: bold;
}

#description{
    grid-column: 2 / 3;
    grid-row: 6;
    max-width: 100%;
    overflow-wrap: break-word;
}
/*-----------------------------------------------------------------*/
/* Liste des tâches */
#tasks-list{
    display: flex;
    background-color: var(--elem-background-color-light);
    flex-wrap: wrap;
    width: 80%;
    max-height: 60vh;
    overflow: auto;
    overflow-x: hidden;
    padding: 1% 2%;
    border-radius: 20px;
}

.row{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font-color-dark);
}

.row:hover:not(:first-child){
    border-radius: 20px;
    transform: scale(1.05) translate(1%, 0);
    font-weight: bold;
}

.row:first-child{
    margin-bottom: 1%;
}

.label{
    font-weight: bold;
    border-bottom: 1px solid black;
}

.col:first-child{
    margin-left: 2%;
}

.col, .label{
    flex-basis: 19%;
    margin: 0.5% 0;
    font-size: var(--global-font-size);
    flex-grow: 1;
}

.col:not(:first-child), .label{
    text-align: center;
}

#locked, .none{
    color: red;
}

#opened{
    color: green;
}
/*-----------------------------------------------------------------*/
